@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap')

$PaleBlue: hsl(225, 100%, 94%)
$BrightBlue: hsl(245, 75%, 52%)
$hover: hsl(245, 75%, 62%)

$VeryPaleBlue: hsl(225, 100%, 98%)
$DesaturatedBlue: hsl(224, 23%, 55%)
$DarkBlue: hsl(223, 47%, 23%)

*
    font-family: Red Hat Display, sans-serif
    margin: 0
    padding: 0

body
    background-color: $PaleBlue
    background-image: url(../assets/TarjetaResumenPedido/pattern-background-desktop.svg)
    background-repeat: repeat no-repeat
    width: 100vw 

.tarjeta
    background-color: white
    border-radius: 20px
    height: 700px
    overflow: hidden

.tarjeta--content
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: space-evenly
    height: 470px
    padding: 38px 50px 34px 50px
    width: 450px
    
h1
    font: 
        size: 1.8rem
        weight: 900
    
p
    font: 
        size: 1rem
        weight: 500
    line-height: 26px

.tarjeta--content__precio
    background-color: $VeryPaleBlue
    border-radius: 10px
    display: grid
    grid-template-columns: 1fr 180px 1fr
    grid-template-rows: 1fr 1fr
    height: 60px
    padding: 20px 12px 

.iconMusic
    grid-column: 1 / 2
    grid-row: 1 / 3
    margin: 6px auto

.tarjeta--content__precio h2
    box-sizing: border-box
    font: 
        size: 1rem
        weight: 900
    grid-column: 2/3
    grid-row: 1/2
    padding: 5px 0 0 5px
    text-align: left
    color: $DarkBlue

.tarjeta--content__precio h3 
    box-sizing: border-box
    color: $DesaturatedBlue
    font: 
        size: 1rem
        weight: 500
    grid-column: 2/3
    grid-row: 2/3
    padding: 2px 0 0 5px
    text-align: left

.tarjeta--content__precio h3:before
    content: '$'

.tarjeta--content__precio h3:after
    content: '/year'

.tarjeta--content__precio a
    color: $BrightBlue
    font:  
        size: 14px
        weight: 900
    grid-column: 3 / 4
    grid-row: 1/3
    padding-top: 18px 
    text-decoration: underline

.ProcedeCompra, .CancelaCompra
    font:  
        size: 14px
        weight: 700

.ProcedeCompra
    background-color: $BrightBlue
    box-shadow: 0 10px 30px 0 hsl(245, 75%, 80%)
    color: white
    height: 50px
    letter-spacing: 0.4px
    margin-top: 34px

.ProcedeCompra:hover
    background-color: $hover 

.tarjeta--content__precio a:hover
    text-decoration: none
    color: $hover

.CancelaCompra
    background-color: transparent
    color: $DesaturatedBlue
    height: 50px
    letter-spacing: 0.4px
    outline: transparent !important

.CancelaCompra:hover
    border: transparent
    color: $DarkBlue


@media only screen and (max-width: 460px)

    body
        background-image: none

    .tarjeta
        height: 566px
        position: relative
        width: 324px

    .imagen
        left: -65px
        position: absolute
        top: -30px
        transform: scale(0.8)
            
    .tarjeta--content
        bottom: 0px
        height: 404px
        padding: 20px 22px 10px 22px
        position: absolute
        width: 324px
        
    h1
        font-size: 1.3rem
        
    p
        font-size: 15px

    .tarjeta--content__precio
        box-sizing: border-box
        grid-template-columns: 1fr 140px 1fr
        height: 80px
        padding: 12px 12px

    .ProcedeCompra
        box-shadow: 0 10px 20px 0 hsl(245, 75%, 80%)
        margin-top: 20px
